* {
  margin: 0px;
  padding: 0px;
  box-sizing: venia-font;
  font-family: curnon-font;
  color: venia-text;
  font-weight: 300;
 }
  :root {
    --venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --venia-background-color: 255, 255, 255;
    --venia-border: 224, 224, 224;
    --venia-error: 192, 18, 63;
    --venia-error-alt: 255, 226, 234;
    --venia-font: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif;
    --venia-grey: 246, 246, 246;
    --venia-grey-dark: 209, 209, 209;
    --venia-grey-darker: 112, 112, 112;
    --venia-orange: 241, 99, 33;
    --venia-teal: 0, 115, 120;
    --venia-teal-alt: 224, 240, 241;
    --venia-teal-dark: 0, 104, 108;
    --venia-teal-light: 212, 243, 238;
    --venia-text: 33, 33, 33;
    --venia-text-alt: var(--venia-grey-darker);
    --venia-text-hint: 158, 158, 158;
    --venia-text-spot: 255, 99, 51;
    --venia-warning-dark: 249, 93, 94;
    --venia-warning-light: 254, 229, 232;
    --curnon-font: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif;
    --curnon-max-width: 1170px;
    --curnon-border: 229, 229, 229;
    --curnon-green: 59, 177, 0;
}
.container-fluid {
  padding: 0; }

.nav-item {
  display: block; }

li {
  list-style: none !important; }

a {
  text-decoration: none !important; }

.nav_img {
  overflow: hidden;
  box-sizing: border-box; }

.nav_img img:hover {
  transform: scale(1.3);
  transition: transform linear 0.6s;
  cursor: pointer;
}
.img_scale{
    box-shadow: 1px 1px 4px 4px rgba(0 0 0 / 10%);
}
ul{
  padding: 0;
}
p{
  margin: 0;
}
.hover_list li{
  width: 200px;
}
.nav_sp_img{
  margin: 10px 0;
}
.nav_sp_img img{
  width: 65px;
}
.active_hover{
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fafafa, #d5d5d5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav_hover-item{
  position: relative;
  
}
.hover_list li{
  cursor: pointer;
}
.hover_nam{
  border-left: 1px solid #d5d5d5;
  position: absolute;
  left: 20%;
  top: 0px;
  display: none;
  max-width: 1100px;
}
.hover_item span{
  padding: 10px 10px 10px 0;
}
.color-red{
  color: red;
}
.nav_hover{
  height: 450px;
}
.hover_item:hover .hover_nam{
  display: flex;
  cursor: pointer;
}
.hover_item:hover .abc{
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fafafa, #d5d5d5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.abc{
  width: 200px;
}
.hover_item1:before{
  position: absolute;
  left: 13%;
  content: "";
  top: 17%;
  width: 100px;
  height: 30px;
  background-color: transparent;
}
.hover_item2:before{
  position: absolute;
  left: 13%;
  content: "";
  top: 37%;
  width: 100px;
  height: 30px;
  background-color: transparent;
}
.hover_item3:before{
  position: absolute;
  left: 13%;
  content: "";
  top: 55%;
  width: 100px;
  height: 30px;
  background-color: transparent;
}
.hover_item4:before{
  position: absolute;
  left: 13%;
  content: "";
  top: 74%;
  width: 100px;
  height: 30px;
  background-color: transparent;
}
.hover_item button{
  width: 280px !important;
  padding: 10px 0 !important;
  margin: 10px 5px;
}
.hover_test{
  display: none;
}
.test1:hover .hover_test{
  display: block;
}
.test1::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  top: 55px;
  background-color: transparent;
}
.hover_test{
  position: absolute;
  top: 100px;
}
.hover_test::before{
  content: "";
  position: absolute;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent rgb(223, 214, 214) transparent;
  top: -29px;
  left: 40px;
  cursor: pointer;
}
nav{  
  box-shadow: 1px 1px 10px rgba(0 0 0 / 10%);
  padding: 10px 0 !important;
}
.test2:hover .hover_test2{
  display: block;
  cursor: pointer;
}
nav{
  position: relative;
}
.hover_test2{
  position: absolute;
  top: 100px;
  display: none;
  left: 0px;
}
.hover_test2::before{
  content: "";
  position: absolute;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent rgb(223, 214, 214) transparent;
  top: -29px;
  left: 150px;
  cursor: pointer;
}
.test2::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  top: 55px;
  background-color: transparent;
}
.hover_test3{
  position: absolute;
  top: 100px;
  display: none;
  left: 0;
}

.test3:hover .hover_test3{
  display: block;
}
.nav_img{
  position: relative;
}
.position{
  z-index: 1000;
  left: 30%;
  top: 35%;
  position: absolute;
}
.color-white{
  color: white;
}
.hover_test3::before{
  content: "";
  position: absolute;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent rgb(223, 214, 214) transparent;
  top: -29px;
  left: 280px;
  cursor: pointer;
}
.test3::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  top: 55px;
  background-color: transparent;
}