<nav class="container-fluid">
  <div class="d-flex justify-content-between p-2 align-items-center">
    <ul class="mb-2 mb-lg-0 d-flex">
      <li class="nav-item test1">
        <a class="nav-link " href="#">ĐỒNG HỒ</a>
        <div class="container-fluid hover_test">
          <div class="nav_hover p-2 pt-5 bg-light">
            <div class="row">
              <div class="nav_hover-item">
                <div class="ps-4">
                  <ul class="hover_list">
                    <li class="mb-2">KHÁM PHÁ</li>
                    <li class="">
                      <div class="hover_item hover_item1">
                        <p class="abc pt-1 pe-5 pb-1">ĐỒNG HỒ NAM</p>
                        <div class="hover_nam hover_nam1 row">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="header_hover">
                              <p class="px-3">MUA THEO BỘ SƯU TẬP</p>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <p class="p-4 pb-0">
                                <a
                                  href=""
                                  class="d-block btn btn-outline-primary mx-auto"
                                  >XEM TẤT CẢ -></a
                                >
                              </p>
                            </div>
                          </div>
      
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="img_scale">
                              <div class="nav_img">
                                <img
                                  src="https://curnonwatch.com/media/catalog/category/FuturaNewArrival.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true"
                                  alt=""
                                  width="100%"
                                />
                              </div>
                              <p
                                class="p-4 text_hover d-flex justify-content-between"
                              >
                                <span>NEW ARRIVALS</span>
                                <span>-></span>
                              </p>
                            </div>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="img_scale">
                              <div class="nav_img">
                                <img
                                  src="https://curnonwatch.com/media/catalog/category/FuturaNewArrival.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true"
                                  alt=""
                                  width="100%"
                                />
                              </div>
                              <p
                                class="p-4 text_hover d-flex justify-content-between"
                              >
                                <span>NEW ARRIVALS</span>
                                <span>-></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="hover_item hover_item2">
                        <p class="abc pt-1 pe-5 pb-1">ĐỒNG HỒ NỮ</p>
                        <div class="hover_nam row">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="header_hover">
                              <p class="px-3">MUA THEO BỘ SƯU TẬP</p>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <div class="d-flex nav_sp_img">
                                <p>
                                  <img
                                    src="https://curnonwatch.com/media/catalog/category/Kashmir_2000px_1x1.png?auto=webp&format=png&width=80&height=80&fit=cover&method=fit&nocrop=true"
                                    alt=""
                                  />
                                  <span>KASIHMIR</span>
                                </p>
                              </div>
                              <p class="p-4 pb-0">
                                <a
                                  href=""
                                  class="d-block btn btn-outline-primary mx-auto"
                                  >XEM TẤT CẢ -></a
                                >
                              </p>
                            </div>
                          </div>
      
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="img_scale">
                              <div class="nav_img">
                                <img
                                  src="https://curnonwatch.com/media/catalog/category/NewFlorenge.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true"
                                  alt=""
                                  width="100%"
                                />
                              </div>
                              <p
                                class="p-4 text_hover d-flex justify-content-between"
                              >
                                <span>NEW ARRIVALS</span>
                                <span>-></span>
                              </p>
                            </div>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="img_scale">
                              <div class="nav_img">
                                <img
                                  src="https://curnonwatch.com/media/catalog/category/WomenBestSeller.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true"
                                  alt=""
                                  width="100%"
                                />
                              </div>
                              <p
                                class="p-4 text_hover d-flex justify-content-between"
                              >
                                <span>NEW ARRIVALS</span>
                                <span>-></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="hover_item hover_item3">
                        <p class="abc pt-1 pe-5 pb-1">DÂY ĐỒNG HỒ</p>
                        <div class="hover_nam row align-items-center">
                          
                          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="nav_img">
                              <img width="100%" src="https://curnonwatch.com/media/catalog/category/Straps.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                          </div>
                          
                          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <p style="font-size: 32px" class="ps-4">SPECIAL OFFERS: <span class="color-red">UP TO 25%</span></p>
                            <div class="d-flex">
                              <button width="280px" class="btn d-block btn-outline-dark">DÂY ĐỒNG HỒ NAM</button>
                              <button width="280px" class="btn btn-outline-dark">DÂY ĐỒNG HỒ NỮ</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="hover_item hover_item4">
                        <p class="abc pt-1 pe-5 pb-1 color-red">ONE SALE</p>
                        <div class="hover_nam row align-items-center">
                          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="nav_img">
                              <img width="100%" src="https://cms.curnonwatch.com/uploads/sale_bogo_19052021_02028e3321.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                          </div>
                          
                          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <p style="font-size: 28px" class="ps-4">MUA 1 ĐỒNG HỒ TẶNG 1 VÒNG TAY</p>
                            <p style="font-size: 28px" class="ps-4 color-red">Chương trình kéo dài từ 19/5 - 23/5</p>
                            <div class="d-flex">
                              <button width="280px" class=" ms-4 btn d-block btn-outline-dark">DÂY ĐỒNG HỒ NAM</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          </li>
          <li class="nav-item test2">
            <a class="nav-link" href="#">PHỤ KIỆN</a>
            <div class="container-fluid hover_test2">
          <div class="nav_hover p-2 pt-5 bg-light">
            <div class="row">
              <div class="nav_hover-item">
                <div class="ps-4">
                  <ul class="hover_list">
                    <li class="mb-2">KHÁM PHÁ</li>
                    <li class="">
                      <div class="hover_item hover_item3">
                        <p class="abc pt-1 pe-5 pb-1">PHỤ KIỆN NỮ</p>
                        <div class="hover_nam row align-items-center">
                          
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="nav_img">
                              <img width="100%" src="https://curnonwatch.com/media/catalog/category/Banner-menu-Aura.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                            <p style="background-color: white;" class="d-flex p-3 justify-content-between"><span>VÒNG TAY NỮ </span><span><i class="fas fa-arrow-right"></i></span></p>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="nav_img">
                              <img width="100%" src="https://curnonwatch.com/media/catalog/category/Banner-menu-Aura.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                            <p style="background-color: white;" class="d-flex p-3 justify-content-between"><span>VÒNG TAY NỮ </span><span><i class="fas fa-arrow-right"></i></span></p>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                    <li class="">
                      <div class="hover_item hover_item3">
                        <p class="abc pt-1 pe-5 pb-1">PHỤ KIỆN NAM</p>
                        <div class="hover_nam row align-items-center">
                          
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="nav_img">
                              <img width="100%" src="https://curnonwatch.com/media/catalog/category/Banner-menu-Aura.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                           <p style="background-color: white;" class="d-flex p-3 justify-content-between"><span>VÒNG TAY NỮ </span><span><i class="fas fa-arrow-right"></i></span></p>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="nav_img">
                              <img width="100%" src="https://curnonwatch.com/media/catalog/category/Banner-menu-Aura.jpg?auto=webp&format=pjpg&width=960&height=960&fit=cover&method=fit&nocrop=true" alt="">
                            </div>
                            <p style="background-color: white;" class="d-flex p-3 justify-content-between"><span>VÒNG TAY NỮ </span><span><i class="fas fa-arrow-right"></i></span></p>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          </li>
          <li class="nav-item test3">
            <a class="nav-link" href="#">THƯƠNG HIỆU</a>
            <div class="container-fluid hover_test3">
              <div class="nav_hover p-4 pt-5 bg-light">
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="nav_img">
                      <img width="100%" src="https://curnonwatch.com/whynot-iRG.jpg?auto=png&format=pjpg" alt="">
                      <p class="btn color-white btn-outline-dark position">KHÁM PHÁ BLOG</p>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="nav_img">
                      <img width="100%" height="249px" src="https://curnonwatch.com/about-us-wmP.jpg?auto=png&format=pjpg" alt="">
                      <p class="btn color-white btn-outline-dark position">VỀ CHÚNG TÔI</p>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="nav_img">
                      <img width="100%" src="https://curnonwatch.com/longandshort-pwP.jpg?auto=png&format=pjpg&width=1200" alt="">
                      <p class="btn color-white btn-outline-dark position">TÌM HIỂU THÊM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    <div class="logo">
      <img src="/images/logo-mWb.svg"  alt="">
    </div>
    <ul class="mb-2 mb-lg-0 d-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">TÀI KHOẢN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GIỎ HÀNG <i class="fas fa-shopping-bag"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a></a>
      </li>
    </ul>
  </div>
  
</nav>

 