<div class="container mt-4">
    
    <div class="row">
        {{#each product}}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name_product}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">{{this.price}} đ</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
</div>